*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #bcddf4;
}


.login-form{
    width: 400px;
    padding: 40px;
    position: relative;
    background: #fff;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    text-align: center;
}


.login-form h2{
    margin-bottom: 30px;
    color: #333;
    text-transform: uppercase;
}


.input-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    background: transparent;
}


button{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    background: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


button:hover{
    background: #555;
}


.remember-forget{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.remember-forget label{
    font-size: 14px;
    color: #333;
}


.remember-forget a{
    font-size: 14px;
    color: #333;
    text-decoration: none;
}


.register-link{
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}


.register-link a{
    color: #333;
    text-decoration: none;
}


.register-link a:hover{
    text-decoration: underline;
}