* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


/* Navbar Styling */
.navbar {
  width: 100%;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.6); 
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 1px;
  font-family: 'Courier New', Courier, monospace;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px; 
}

.nav-links a:hover {
  color: #C0C0C0; 
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-icons i {
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s ease;
}

.nav-icons i:hover {
  color: #C0C0C0;
}




/* MAIN PRODUCT SECTION */
.product-container {
    display: flex;
    gap: 40px;
    padding: 40px;
    align-items: flex-start;
}


/* LEFT PRODUCT IMAGES */
.product-images {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.image-row {
    display: flex;
    gap: 3px;
}

.side-img {
    width: 50%;
    object-fit: cover;
}


/* RIGHT PRODUCT DETAILS */
.product-details {
    width: 40%;
    position: sticky;
    top: 0px;
}

.product-name {
    font-size: 22px;
    margin-bottom: 15px;
}

.price {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.old-price {
    text-decoration: line-through;
    color: gray;
    font-size: 16px;
    margin-left: 10px;
}

.sub-text {
    font-size: 14px;
    margin-bottom: 20px;
    color: rgb(60, 60, 60);
}

.rating {
    margin-bottom: 20px;
}

.sizes button {
    padding: 10px 16px;
    margin: 5px;
    border: 1px solid #aaa;
    background: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.note {
    margin: 15px 0;
    color: red;
}

.cta {
    width: 100%;
    padding: 15px 0;
    background: #FF7A00;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    margin: 20px 0;
    cursor: pointer;
}

.exchange {
    margin-top: -10px;
    margin-bottom: 20px;
    color: green;
}

/* OFFERS */
.offers {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.offer-box {
    border: 1px dashed #FF7A00;
    padding: 12px;
    width: 170px;
    border-radius: 8px;
    background: #fff8ef;
}

.offer-box code {
    display: block;
    margin-top: 5px;
    padding: 4px 8px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: fit-content;
}

.quantity-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f3f3f3;
    padding: 10px 12px;
    border-radius: 6px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.quantity-box select {
    border: none;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.btn {
    width: 100%;
    padding: 12px 0;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 12px; 
}

.add-cart {
    background: #ffd814; 
    color: #fff;
}

.buy-now {
    background: #FF7A00; 
    color: #fff;
}

.gift-option {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.gift-option input {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}



/* Footer */
.footer {
  display: flex;
  justify-content: center;
  gap: 100px;
  background: #f0f0f0;
  padding: 50px 0;
  color: #666;
}

.footer-section h3 {
  margin-bottom: 15px;
  color: #333;
}

.footer-section p {
  margin: 5px 0;
  cursor: pointer;
}

.footer-section p:hover {
  color: #0077b6;
}



/* Ending */
.ending {
  display: flex;
  justify-content: center;
  gap: 40px;
  color: #8aa99f;
  margin: 40px 0 10px;
}

.ending2 {
  text-align: center;
  color: #8aa99f;
  font-size: 0.9rem;
  margin-bottom: 20px;
}



/* Product-detailing*/
.product-detailing, .customer-reviews {
    width: 80%;
    margin: auto; 
    line-height: 1.6;
     margin-bottom: 40px;
}

.product-detailing h2,
.customer-reviews h2 {
    font-size: 28px; 
}

.product-detailing p {
    margin: 8px 0;
}

.product-detailing a {
    color: #1a73e8;
    text-decoration: none;
}



/* Customer Reviews */
.customer-reviews{
    margin-top: 40px;
}

.customer-reviews .rating-summary {
    display: flex;
    align-items: center;
    gap: 15px;
}

.stars {
    font-size: 26px;
    color: #ffa41c;
}

.score {
    font-size: 20px; 
}

.ratings-count {
    margin: 10px 0 20px 0;
    color: #444;
}

.rating-bar {
    display: flex;
    align-items: center;
    margin: 8px 0;
    gap: 10px;
}

.rating-bar span {
    width: 60px;
}

.bar {
    width: 60%;
    height: 14px;
    background: #e6e6e6;
    border-radius: 3px;
    overflow: hidden;
}

.bar div {
    height: 100%;
    background: #ff8c00;
}

.percent {
    width: 40px;
    font-weight: bold;
}

.how-ratings {
    color: #1a73e8;
    cursor: pointer;
    margin-top: 15px;
}


